body {
    background-color: black;
}

.titleContainer{
    display: flex;
    justify-content: center;
}

.animatedTitle{
    width: 400px;
    height: 221px;
    background-position: center;
    background-size: cover;
    background-image: url(https://i.imgur.com/AO7qFEj.png); 
}

.animatedSlogan{
    width: 400px;
    height: 221px;
    background-position: center;
    background-size: cover;
    background-image: url(https://i.imgur.com/tZJW9XM.png);    
}
.animatedMotor{
    width: 800px;
    height: 500px;
    background-position: left;
    background-size: cover;
    background-image: url(https://i.imgur.com/H9cNs46.png);
}

.fadeInTop{
    -webkit-animation: fadeInTop 3s both;
    -moz-animation: fadeInTop 3s both; 
    -o-animation: fadeInTop 3s both;
    animation: fadeInTop 3s both;
}

.fadeInTopSlogan{
    -webkit-animation: fadeInTop 1.2s both;
    -moz-animation: fadeInTop 1.2s both;
    -o-animation: fadeInTop 1.2s both;
    animation: fadeInTop 1.2s both;
}

@keyframes fadeInTop{
    0%{
	opacity: 0;
	transform: translateY(-50px);
    }
    100%{
	opacity: 1;
	tranform: translateY(0);
    }
}

@keyframes fadeInTopSlogan{
    0%{
	opacity: 0;
	transform: translateY(-50px);
    }
    100%{
	opacity: 1;
	transform: translateY(30px)
    }
}
